# Preprocesscing Data

In [ ]:
# Integrasi ke drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Bagian Baru

In [ ]:
# Libary yang digunakan
import pandas as pd #Untuk menggunakan Dataframe
import numpy as np #Untuk pengolahan data array

## Data Extract

In [ ]:
# Membaca tabel excel pontianak
Data_Pontianak = pd.read_excel('/content/drive/MyDrive/Data Warehouse Parani/Monitoring PONTIANAK (Ekspedisi Input) Parani 2021.xlsx',skiprows=3,usecols="A:V")

In [ ]:
Data_Pontianak

     Destination        SL AHM No  ... Aging Unit Intransit     Lokasi
0      PONTIANAK  1300/2021/00094  ...                    5  Intransit
1      PONTIANAK  1300/2021/00094  ...                    5  Intransit
2      PONTIANAK  1300/2021/00094  ...                    5  Intransit
3      PONTIANAK  1300/2021/00094  ...                    5  Intransit
4      PONTIANAK  1300/2021/00094  ...                    5  Intransit
...          ...              ...  ...                  ...        ...
7073   PONTIANAK  1300/2021/54364  ...                    3  Intransit
7074   PONTIANAK  1300/2021/54364  ...                    3  Intransit
7075   PONTIANAK  1300/2021/54364  ...                    3  Intransit
7076   PONTIANAK  1300/2021/54364  ...                    3  Intransit
7077   PONTIANAK  1300/2021/54364  ...                    3  Intransit

[7078 rows x 22 columns]

In [ ]:
#Me rename judul dataframe
Data_Pontianak.rename(columns={"No Container":"NO. CONTAINER","Date":"Dooring Date","Market Name":"NAMA TYPE","Color":"WARNA","Material":"KODE 3 DIGIT","SL TMS":"SL TMS NO"},inplace=True)

In [ ]:
Data_Pontianak

     Destination        SL AHM No  ... Aging Unit Intransit     Lokasi
0      PONTIANAK  1300/2021/00094  ...                    5  Intransit
1      PONTIANAK  1300/2021/00094  ...                    5  Intransit
2      PONTIANAK  1300/2021/00094  ...                    5  Intransit
3      PONTIANAK  1300/2021/00094  ...                    5  Intransit
4      PONTIANAK  1300/2021/00094  ...                    5  Intransit
...          ...              ...  ...                  ...        ...
7073   PONTIANAK  1300/2021/54364  ...                    3  Intransit
7074   PONTIANAK  1300/2021/54364  ...                    3  Intransit
7075   PONTIANAK  1300/2021/54364  ...                    3  Intransit
7076   PONTIANAK  1300/2021/54364  ...                    3  Intransit
7077   PONTIANAK  1300/2021/54364  ...                    3  Intransit

[7078 rows x 22 columns]

In [ ]:
#Mengambil Data Jayapura
Data_Jayapura = pd.read_excel('/content/drive/MyDrive/Data Warehouse Parani/Monitoring JAYAPURA (Ekspedisi Input) Parani 2021.xlsx',skiprows=10,usecols="D:AC")

In [ ]:
Data_Jayapura

          NO     Engine No  ... Aging Unit Intransit Keterangan
0          1  JM02E1031111  ...                   38        NaN
1          2  KD11E1175226  ...                   37        NaN
2          3  KD11E1175086  ...                   37        NaN
3          4  KD11E1175067  ...                   37        NaN
4          5  KD11E1174890  ...                   37        NaN
...      ...           ...  ...                  ...        ...
13321  13322           NaN  ...                    0        NaN
13322  13323           NaN  ...                    0        NaN
13323  13324           NaN  ...                    0        NaN
13324  13325           NaN  ...                    0        NaN
13325  13326           NaN  ...                    0        NaN

[13326 rows x 26 columns]

In [ ]:
#Mengambil data makassar
Data_Makassar = pd.read_excel('/content/drive/MyDrive/Data Warehouse Parani/Monitoring MAKASSAR (Ekspedisi Input) Parani 2021.xlsx',skiprows=10,usecols="D:AC")

In [ ]:
#Mengganti kolom df makassar
Data_Makassar.rename(columns={"TYPE":"NAMA TYPE","SL TMS No":"SL TMS NO"},inplace = True)

In [ ]:
Data_Makassar

        NO     Engine No  ... Aging Unit Intransit Keterangan
0      1.0  JM01E1016947  ...                   47        NaN
1      2.0  KD11E1175646  ...                   26        NaN
2      3.0  KD11E1175711  ...                   26        NaN
3      4.0  KD11E1175724  ...                   26        NaN
4      5.0  KD11E1175740  ...                   26        NaN
...    ...           ...  ...                  ...        ...
28506  NaN           NaN  ...                    0        NaN
28507  NaN           NaN  ...                    0        NaN
28508  NaN           NaN  ...                    0        NaN
28509  NaN           NaN  ...                    0        NaN
28510  NaN           NaN  ...                    0        NaN

[28511 rows x 26 columns]

## Data Selection -> pilih kolom

In [ ]:
#Memfilter data yang akan digunakan dari df pontianak
Data_Pontianak_Fix = Data_Pontianak[['Engine No','KODE 3 DIGIT',"NAMA TYPE","WARNA","Destination","SL AHM No","SL AHM Date"
,"SL TMS NO","Stuffing Date","Truck","Kapal","ETD","ETA","ATD","ATA","Dooring Date","Aging Unit di Pool","Aging Unit Intransit","Lokasi"]]
Data_Pontianak_Fix

         Engine No KODE 3 DIGIT  ... Aging Unit Intransit     Lokasi
0     JM01E1068455          LN0  ...                    5  Intransit
1     JM01E1068456          LN0  ...                    5  Intransit
2     JM01E1068459          LN0  ...                    5  Intransit
3     JM01E1068478          LN0  ...                    5  Intransit
4     JM01E1068480          LN0  ...                    5  Intransit
...            ...          ...  ...                  ...        ...
7073  JM51E2006350          HZA  ...                    3  Intransit
7074  JM61E1211709          LD2  ...                    3  Intransit
7075  JM61E1211722          LD2  ...                    3  Intransit
7076  JM61E1211656          LD2  ...                    3  Intransit
7077  JM61E1211748          LD2  ...                    3  Intransit

[7078 rows x 19 columns]

In [ ]:
#Memfilter data yang akan digunakan dari df jayapura
Data_Jayapura_Fix = Data_Jayapura[['Engine No','KODE 3 DIGIT',"NAMA TYPE","WARNA","Destination","SL AHM No","SL AHM Date"
,"SL TMS NO","Truck","Stuffing Date","Kapal","ETD","ETA","ATD","ATA","Dooring Date","Aging Unit di Pool","Aging Unit Intransit","Lokasi"]]
Data_Jayapura_Fix

          Engine No KODE 3 DIGIT  ... Aging Unit Intransit   Lokasi
0      JM02E1031111          LP0  ...                   38  ARRIVED
1      KD11E1175226          ES4  ...                   37  ARRIVED
2      KD11E1175086          ES3  ...                   37  ARRIVED
3      KD11E1175067          ES3  ...                   37  ARRIVED
4      KD11E1174890          ES4  ...                   37  ARRIVED
...             ...          ...  ...                  ...      ...
13321           NaN          NaN  ...                    0        -
13322           NaN          NaN  ...                    0        -
13323           NaN          NaN  ...                    0        -
13324           NaN          NaN  ...                    0        -
13325           NaN          NaN  ...                    0        -

[13326 rows x 19 columns]

In [ ]:
#Memfilter data yang akan digunakan dari df makassar
Data_Makassar_Fix = Data_Makassar[['Engine No','KODE 3 DIGIT',"NAMA TYPE","WARNA","Destination","SL AHM No","SL AHM Date"
,"SL TMS NO","Truck","Stuffing Date","Kapal","ETD","ETA","ATD","ATA","Dooring Date","Aging Unit di Pool","Aging Unit Intransit","Lokasi"]]
Data_Makassar_Fix

          Engine No KODE 3 DIGIT  ... Aging Unit Intransit   Lokasi
0      JM01E1016947          LNA  ...                   47  ARRIVED
1      KD11E1175646          ES4  ...                   26  ARRIVED
2      KD11E1175711          ES4  ...                   26  ARRIVED
3      KD11E1175724          ES4  ...                   26  ARRIVED
4      KD11E1175740          ES4  ...                   26  ARRIVED
...             ...          ...  ...                  ...      ...
28506           NaN          NaN  ...                    0        -
28507           NaN          NaN  ...                    0        -
28508           NaN          NaN  ...                    0        -
28509           NaN          NaN  ...                    0        -
28510           NaN          NaN  ...                    0        -

[28511 rows x 19 columns]

## Data Cleansing -> membersikan data null

In [ ]:
#Membersikan data makassar yang bernilai null
Data_Makassar_Fix.dropna(axis=0,how='any',inplace=True)#Membersikhan data yg null
Data_Makassar_Fix.reset_index(drop=True,inplace=True)#mereset index
Data_Makassar_Fix

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

          Engine No KODE 3 DIGIT  ... Aging Unit Intransit   Lokasi
0      JM01E1016947          LNA  ...                   47  ARRIVED
1      KD11E1175646          ES4  ...                   26  ARRIVED
2      KD11E1175711          ES4  ...                   26  ARRIVED
3      KD11E1175724          ES4  ...                   26  ARRIVED
4      KD11E1175740          ES4  ...                   26  ARRIVED
...             ...          ...  ...                  ...      ...
26936  JM01E1491007          LN1  ...                 -354  ARRIVED
26937  JM01E1491009          LN1  ...                 -354  ARRIVED
26938  JM01E1488268          LN1  ...                 -354  ARRIVED
26939  JM01E1487721          LN1  ...                 -354  ARRIVED
26940  JM01E1487714          LN1  ...                 -354  ARRIVED

[26941 rows x 19 columns]

In [ ]:
#Membersikan data jayapura yang bernilai null
Data_Jayapura_Fix.dropna(axis=0,how='any',inplace=True)
Data_Jayapura_Fix.reset_index(drop=True,inplace=True)
Data_Jayapura_Fix

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

          Engine No KODE 3 DIGIT  ... Aging Unit Intransit   Lokasi
0      JM02E1031111          LP0  ...                   38  ARRIVED
1      KD11E1175226          ES4  ...                   37  ARRIVED
2      KD11E1175086          ES3  ...                   37  ARRIVED
3      KD11E1175067          ES3  ...                   37  ARRIVED
4      KD11E1174890          ES4  ...                   37  ARRIVED
...             ...          ...  ...                  ...      ...
12346  KB11E1318832          HD7  ...                    9  ARRIVED
12347  KB11E1318043          HDN  ...                    9  ARRIVED
12348  KB11E1318281          HDN  ...                    9  ARRIVED
12349  KB11E1318593          HDN  ...                    9  ARRIVED
12350  MC61E1000821          JF1  ...                    9  ARRIVED

[12351 rows x 19 columns]

In [ ]:
#Membersikan data pontianak yang bernilai null
Data_Pontianak_Fix.dropna(axis=0,how='any',inplace=True)
Data_Pontianak_Fix.reset_index(drop=True,inplace=True)
Data_Pontianak_Fix

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

         Engine No KODE 3 DIGIT  ... Aging Unit Intransit     Lokasi
0     JM01E1068455          LN0  ...                    5  Intransit
1     JM01E1068456          LN0  ...                    5  Intransit
2     JM01E1068459          LN0  ...                    5  Intransit
3     JM01E1068478          LN0  ...                    5  Intransit
4     JM01E1068480          LN0  ...                    5  Intransit
...            ...          ...  ...                  ...        ...
7073  JM51E2006350          HZA  ...                    3  Intransit
7074  JM61E1211709          LD2  ...                    3  Intransit
7075  JM61E1211722          LD2  ...                    3  Intransit
7076  JM61E1211656          LD2  ...                    3  Intransit
7077  JM61E1211748          LD2  ...                    3  Intransit

[7078 rows x 19 columns]

## Data Merge -> Menggabungkan ketiga data kota

In [ ]:
#MEnggabungkan Data
df_list = [Data_Jayapura_Fix,Data_Makassar_Fix,Data_Pontianak_Fix]
Df_merge = pd.concat(df_list)

In [ ]:
#Mereset index
Df_merge.reset_index(drop=True,inplace=True)

In [ ]:
Df_merge

          Engine No KODE 3 DIGIT  ... Aging Unit Intransit     Lokasi
0      JM02E1031111          LP0  ...                   38    ARRIVED
1      KD11E1175226          ES4  ...                   37    ARRIVED
2      KD11E1175086          ES3  ...                   37    ARRIVED
3      KD11E1175067          ES3  ...                   37    ARRIVED
4      KD11E1174890          ES4  ...                   37    ARRIVED
...             ...          ...  ...                  ...        ...
46365  JM51E2006350          HZA  ...                    3  Intransit
46366  JM61E1211709          LD2  ...                    3  Intransit
46367  JM61E1211722          LD2  ...                    3  Intransit
46368  JM61E1211656          LD2  ...                    3  Intransit
46369  JM61E1211748          LD2  ...                    3  Intransit

[46370 rows x 19 columns]

## Membuat kolom factory

In [ ]:
Df_merge["SL AHM No"].str[:4] # Mengambil nilai data prabrik dari SL AHM No

0        1100
1        1800
2        1800
3        1800
4        1800
         ...
46365    1300
46366    1300
46367    1300
46368    1300
46369    1300
Name: SL AHM No, Length: 46370, dtype: object

In [ ]:
#Fungsi untuk mengecek datanya
def locate_factory(data):
  factory=''
  if data == '1100':
    factory = "Pabrik Sunter"
  elif data == '1200':
    factory="Pabrik Pegangsaan"
  elif data == '1300' or '1350':
    factory = "Pabrik Cibitung"
  elif data == '1700' or '1800':
    factory = "Pabrik Dawuan"
  return factory

In [ ]:
# Membuat kolom factory dari nilai SL AHM No
Df_merge['Factory'] = Df_merge["SL AHM No"].str[:4].apply(lambda x: locate_factory(x))

In [ ]:
Df_merge

          Engine No KODE 3 DIGIT  ...     Lokasi          Factory
0      JM02E1031111          LP0  ...    ARRIVED    Pabrik Sunter
1      KD11E1175226          ES4  ...    ARRIVED  Pabrik Cibitung
2      KD11E1175086          ES3  ...    ARRIVED  Pabrik Cibitung
3      KD11E1175067          ES3  ...    ARRIVED  Pabrik Cibitung
4      KD11E1174890          ES4  ...    ARRIVED  Pabrik Cibitung
...             ...          ...  ...        ...              ...
46365  JM51E2006350          HZA  ...  Intransit  Pabrik Cibitung
46366  JM61E1211709          LD2  ...  Intransit  Pabrik Cibitung
46367  JM61E1211722          LD2  ...  Intransit  Pabrik Cibitung
46368  JM61E1211656          LD2  ...  Intransit  Pabrik Cibitung
46369  JM61E1211748          LD2  ...  Intransit  Pabrik Cibitung

[46370 rows x 20 columns]

# Snowflake Schema implementation

In [ ]:
# Merename kolom sesuai shema
Df_merge.rename(columns={"Engine No":"engine_no","NO. CONTAINER":"no_container","Dooring Date":"dooring_date","NAMA TYPE":"unit_name","WARNA":"unit_color","KODE 3 DIGIT":"unit_material",
                         "SL TMS NO":"sl_tms_no","Aging Unit di Pool":"aging_pool","Aging Unit Intransit":"aging_intransit","SL AHM No":"sl_ahm_no","SL AHM Date":"sl_ahm_date",
                         "Lokasi":"status","Stuffing Date":"stuffing_date"},inplace=True)

In [ ]:
# Merename kolom sesuai shema (2)
Df_merge.rename(columns={"Kapal":"ship_name","Truck":"truck_name","Factory":"factory_name","Destination":"destination_name"},inplace=True)

In [ ]:
import uuid # Untuk membuat libry generate ID
import string 
import random
# Membuat Fungsi gerate ID versi lainnya
def id_generator(size=6, chars=string.ascii_uppercase + string.digits):
    return ''.join(random.SystemRandom().choice(chars) for _ in range(size))

## sub_dim_destination

In [ ]:
Df_merge['destination_id'] = Df_merge.groupby(["destination_name"]).destination_name.transform(lambda x : uuid.uuid1().hex) # Melakukan generate Id

In [ ]:
Df_merge

          engine_no  ...                    destination_id
0      JM02E1031111  ...  bb96713c793e11ecba330242ac1c0002
1      KD11E1175226  ...  bb96713c793e11ecba330242ac1c0002
2      KD11E1175086  ...  bb96713c793e11ecba330242ac1c0002
3      KD11E1175067  ...  bb96713c793e11ecba330242ac1c0002
4      KD11E1174890  ...  bb96713c793e11ecba330242ac1c0002
...             ...  ...                               ...
46365  JM51E2006350  ...  bb967b6e793e11ecba330242ac1c0002
46366  JM61E1211709  ...  bb967b6e793e11ecba330242ac1c0002
46367  JM61E1211722  ...  bb967b6e793e11ecba330242ac1c0002
46368  JM61E1211656  ...  bb967b6e793e11ecba330242ac1c0002
46369  JM61E1211748  ...  bb967b6e793e11ecba330242ac1c0002

[46370 rows x 21 columns]

In [ ]:
Fix_sub_dim_destination = Df_merge[['destination_id','destination_name']] # Membuat tabelnya

In [ ]:
Fix_sub_dim_destination

                         destination_id destination_name
0      bb96713c793e11ecba330242ac1c0002           NABIRE
1      bb96713c793e11ecba330242ac1c0002           NABIRE
2      bb96713c793e11ecba330242ac1c0002           NABIRE
3      bb96713c793e11ecba330242ac1c0002           NABIRE
4      bb96713c793e11ecba330242ac1c0002           NABIRE
...                                 ...              ...
46365  bb967b6e793e11ecba330242ac1c0002        PONTIANAK
46366  bb967b6e793e11ecba330242ac1c0002        PONTIANAK
46367  bb967b6e793e11ecba330242ac1c0002        PONTIANAK
46368  bb967b6e793e11ecba330242ac1c0002        PONTIANAK
46369  bb967b6e793e11ecba330242ac1c0002        PONTIANAK

[46370 rows x 2 columns]

In [ ]:
Fix_sub_dim_destination.drop_duplicates(subset="destination_name",inplace=True) #Menghapus nilai duplikast

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
Fix_sub_dim_destination.reset_index(drop = True,inplace = True) # Melakukan reset Index

In [ ]:
Fix_sub_dim_destination.to_csv('/content/drive/MyDrive/Data Warehouse Parani/sub_dim_destination.csv') # Export ke csv

## sub_dim_factory

In [ ]:
Df_merge['factory_id'] = Df_merge.groupby(["factory_name"]).factory_name.transform(lambda x : uuid.uuid1().hex)
Fix_sub_dim_factory = Df_merge[['factory_id','factory_name']]
Fix_sub_dim_factory.drop_duplicates(subset="factory_name",inplace=True)
Fix_sub_dim_factory.reset_index(drop = True,inplace = True)
Fix_sub_dim_factory.to_csv("/content/drive/MyDrive/Data Warehouse Parani/sub_dim_factory.csv")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

## sub_dim_ship

In [ ]:
Df_merge['ship_id'] = Df_merge.groupby(["ship_name"]).ship_name.transform(lambda x : uuid.uuid1().hex)
Fix_sub_dim_ship = Df_merge[['ship_id','ship_name']]
Fix_sub_dim_ship.drop_duplicates(subset="ship_name",inplace=True)
Fix_sub_dim_ship.reset_index(drop = True,inplace = True)
# Fix_sub_dim_ship.rename(columns={"Kapal":"ship_name"},inplace=True)
Fix_sub_dim_ship.to_csv("/content/drive/MyDrive/Data Warehouse Parani/sub_dim_ship.csv")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

## sub_dim_truck

In [ ]:
Df_merge['truck_id'] = Df_merge.groupby(["truck_name"]).truck_name.transform(lambda x : uuid.uuid1().hex)
Fix_sub_dim_truck = Df_merge[['truck_id','truck_name']]
Fix_sub_dim_truck.drop_duplicates(subset="truck_name",inplace=True)
Fix_sub_dim_truck.reset_index(drop = True,inplace = True)
# Fix_sub_dim_truck.rename(columns={"Truck":"truck_name"})
Fix_sub_dim_truck.to_csv("/content/drive/MyDrive/Data Warehouse Parani/sub_dim_truck.csv")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

## dim_shipping

In [ ]:
Df_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46370 entries, 0 to 46369
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   engine_no         46370 non-null  object
 1   unit_material     46370 non-null  object
 2   unit_name         46370 non-null  object
 3   unit_color        46370 non-null  object
 4   destination_name  46370 non-null  object
 5   sl_ahm_no         46370 non-null  object
 6   sl_ahm_date       46370 non-null  datetime64[ns]
 7   sl_tms_no         46370 non-null  object
 8   truck_name        46370 non-null  object
 9   stuffing_date     46370 non-null  datetime64[ns]
 10  ship_name         46370 non-null  object
 11  ETD               46370 non-null  datetime64[ns]
 12  ETA               46370 non-null  datetime64[ns]
 13  ATD               46370 non-null  datetime64[ns]
 14  ATA               46370 non-null  object
 15  dooring_date      46370 non-null  datetime64[ns]
 16  aging_pool        46370 non-null  float64
 17  aging_intransit   46370 non-null  int64
 18  status            46370 non-null  object
 19  factory_name      46370 non-null  object
 20  destination_id    46370 non-null  object
 21  factory_id        46370 non-null  object
 22  ship_id           46370 non-null  object
 23  truck_id          46370 non-null  object
 24  shipping_id       46370 non-null  object
 25  unit_id           46370 non-null  object
 26  engine_id         46370 non-null  object
 27  id                46370 non-null  object
dtypes: datetime64[ns](6), float64(1), int64(1), object(20)
memory usage: 9.9+ MB

In [ ]:
Df_merge[["sl_ahm_date","dooring_date","ETD","ETA","ATD","stuffing_date"]] = Df_merge[["sl_ahm_date","dooring_date","ETD","ETA","ATD","stuffing_date"]].astype(str) #merubah item jadi string

In [ ]:
Df_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46370 entries, 0 to 46369
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   engine_no         46370 non-null  object
 1   unit_material     46370 non-null  object
 2   unit_name         46370 non-null  object
 3   unit_color        46370 non-null  object
 4   destination_name  46370 non-null  object
 5   sl_ahm_no         46370 non-null  object
 6   sl_ahm_date       46370 non-null  object
 7   sl_tms_no         46370 non-null  object
 8   truck_name        46370 non-null  object
 9   stuffing_date     46370 non-null  object
 10  ship_name         46370 non-null  object
 11  ETD               46370 non-null  object
 12  ETA               46370 non-null  object
 13  ATD               46370 non-null  object
 14  ATA               46370 non-null  object
 15  dooring_date      46370 non-null  object
 16  aging_pool        46370 non-null  float64
 17  aging_intransit   46370 non-null  int64
 18  status            46370 non-null  object
 19  factory_name      46370 non-null  object
 20  destination_id    46370 non-null  object
 21  factory_id        46370 non-null  object
 22  ship_id           46370 non-null  object
 23  truck_id          46370 non-null  object
 24  shipping_id       46370 non-null  object
 25  unit_id           46370 non-null  object
 26  engine_id         46370 non-null  object
 27  id                46370 non-null  object
dtypes: float64(1), int64(1), object(26)
memory usage: 9.9+ MB

In [ ]:
Df_merge['shipping_id'] = Df_merge.groupby(['destination_id','factory_id',"ship_id",'truck_id',"sl_ahm_no","sl_ahm_date","sl_tms_no","dooring_date","stuffing_date","aging_pool","aging_intransit","status"]).dooring_date.transform(lambda x : id_generator(32))

In [ ]:
dim_ship = Df_merge[['shipping_id','destination_id','factory_id',"ship_id",'truck_id',"sl_ahm_no","sl_ahm_date","sl_tms_no",'stuffing_date',"ETD","ETA","ATD","ATA","dooring_date","aging_pool","aging_intransit","status"]]
dim_ship.drop_duplicates(subset=['destination_id','factory_id','ship_id','truck_id',"sl_ahm_no","sl_ahm_date",'stuffing_date',"sl_tms_no","ETD","ETA","ATD","ATA","dooring_date","aging_pool","aging_intransit","status"],inplace=True)
dim_ship.reset_index(drop = True,inplace = True)
dim_ship.to_csv("/content/drive/MyDrive/Data Warehouse Parani/dim_ship.csv")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
dim_ship

                           shipping_id  ...     status
0     bd3ac01a793e11ecba330242ac1c0002  ...    ARRIVED
1     bd14ab64793e11ecba330242ac1c0002  ...    ARRIVED
2     bd14c5cc793e11ecba330242ac1c0002  ...    ARRIVED
3     bd3aca1a793e11ecba330242ac1c0002  ...    ARRIVED
4     bd14cf36793e11ecba330242ac1c0002  ...    ARRIVED
...                                ...  ...        ...
7088  bd50c11c793e11ecba330242ac1c0002  ...  Intransit
7089  bd4cada2793e11ecba330242ac1c0002  ...  Intransit
7090  bd50cbee793e11ecba330242ac1c0002  ...  Intransit
7091  bd47e448793e11ecba330242ac1c0002  ...  Intransit
7092  bd47ee16793e11ecba330242ac1c0002  ...  Intransit

[7093 rows x 16 columns]

In [ ]:
Df_merge

          engine_no  ...                       shipping_id
0      JM02E1031111  ...  bd3ac01a793e11ecba330242ac1c0002
1      KD11E1175226  ...  bd14ab64793e11ecba330242ac1c0002
2      KD11E1175086  ...  bd14ab64793e11ecba330242ac1c0002
3      KD11E1175067  ...  bd14ab64793e11ecba330242ac1c0002
4      KD11E1174890  ...  bd14ab64793e11ecba330242ac1c0002
...             ...  ...                               ...
46365  JM51E2006350  ...  bd47ee16793e11ecba330242ac1c0002
46366  JM61E1211709  ...  bd47ee16793e11ecba330242ac1c0002
46367  JM61E1211722  ...  bd47ee16793e11ecba330242ac1c0002
46368  JM61E1211656  ...  bd47ee16793e11ecba330242ac1c0002
46369  JM61E1211748  ...  bd47ee16793e11ecba330242ac1c0002

[46370 rows x 25 columns]

## sub_dim_unit

In [ ]:
Df_merge['unit_id'] = Df_merge.groupby(["unit_name","unit_color","unit_material"]).unit_name.transform(lambda x : uuid.uuid1().hex)
dim_unit = Df_merge[['unit_id',"unit_name","unit_color","unit_material"]]
dim_unit.drop_duplicates(subset=["unit_name","unit_color","unit_material"],inplace=True)
dim_unit.reset_index(drop = True,inplace = True)
dim_unit.to_csv("/content/drive/MyDrive/Data Warehouse Parani/dim_unit.csv")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

## dim_engine

In [ ]:
Df_merge['engine_id'] = Df_merge.groupby(['unit_id',"engine_no"]).engine_no.transform(lambda x : uuid.uuid1().hex)
Fix_sub_dim_engine = Df_merge[['engine_id','unit_id','engine_no']]
Fix_sub_dim_engine.drop_duplicates(subset=['unit_id','engine_no'],inplace=True)
Fix_sub_dim_engine.reset_index(drop = True,inplace = True)
Fix_sub_dim_engine.to_csv("/content/drive/MyDrive/Data Warehouse Parani/sub_dim_engine.csv")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
Fix_sub_dim_engine

                              engine_id  ...     engine_no
0      c210ee66793e11ecba330242ac1c0002  ...  JM02E1031111
1      c08b3eca793e11ecba330242ac1c0002  ...  KD11E1175226
2      c0f45d1a793e11ecba330242ac1c0002  ...  KD11E1175086
3      c0f45432793e11ecba330242ac1c0002  ...  KD11E1175067
4      c08b36fa793e11ecba330242ac1c0002  ...  KD11E1174890
...                                 ...  ...           ...
46365  c4a8539e793e11ecba330242ac1c0002  ...  JM51E2006350
46366  c142db48793e11ecba330242ac1c0002  ...  JM61E1211709
46367  c142e52a793e11ecba330242ac1c0002  ...  JM61E1211722
46368  c142d350793e11ecba330242ac1c0002  ...  JM61E1211656
46369  c142ee3a793e11ecba330242ac1c0002  ...  JM61E1211748

[46370 rows x 3 columns]

In [ ]:
Df_merge

          engine_no  ...                         engine_id
0      JM02E1031111  ...  c210ee66793e11ecba330242ac1c0002
1      KD11E1175226  ...  c08b3eca793e11ecba330242ac1c0002
2      KD11E1175086  ...  c0f45d1a793e11ecba330242ac1c0002
3      KD11E1175067  ...  c0f45432793e11ecba330242ac1c0002
4      KD11E1174890  ...  c08b36fa793e11ecba330242ac1c0002
...             ...  ...                               ...
46365  JM51E2006350  ...  c4a8539e793e11ecba330242ac1c0002
46366  JM61E1211709  ...  c142db48793e11ecba330242ac1c0002
46367  JM61E1211722  ...  c142e52a793e11ecba330242ac1c0002
46368  JM61E1211656  ...  c142d350793e11ecba330242ac1c0002
46369  JM61E1211748  ...  c142ee3a793e11ecba330242ac1c0002

[46370 rows x 27 columns]

## fact

# Bagian Baru

In [ ]:
Df_merge['id'] = Df_merge.groupby(['engine_id',"shipping_id"]).engine_no.transform(lambda x : uuid.uuid1().hex)
fact_table = Df_merge[['id','engine_id','shipping_id']]
fact_table.drop_duplicates(subset=['engine_id','shipping_id'],inplace=True)
fact_table.reset_index(drop = True,inplace = True)
fact_table.to_csv("/content/drive/MyDrive/Data Warehouse Parani/fact_table.csv")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
fact_table

                                     id  ...                       shipping_id
0      6d4ab2ac794511ecba330242ac1c0002  ...  H8WJR6RG2P6U17RZJ9T4X82Y9Z9SEQ8F
1      6bb780aa794511ecba330242ac1c0002  ...  E7KCQZ52O7KRE4URJGJLDFCO9A9A6LNM
2      6c249636794511ecba330242ac1c0002  ...  E7KCQZ52O7KRE4URJGJLDFCO9A9A6LNM
3      6c248e34794511ecba330242ac1c0002  ...  E7KCQZ52O7KRE4URJGJLDFCO9A9A6LNM
4      6bb7777c794511ecba330242ac1c0002  ...  E7KCQZ52O7KRE4URJGJLDFCO9A9A6LNM
...                                 ...  ...                               ...
46365  6fcaeb64794511ecba330242ac1c0002  ...  H41R3IP8D99ENG4L2ZVDGAA5X9MNLOKE
46366  6c70380c794511ecba330242ac1c0002  ...  H41R3IP8D99ENG4L2ZVDGAA5X9MNLOKE
46367  6c7041b2794511ecba330242ac1c0002  ...  H41R3IP8D99ENG4L2ZVDGAA5X9MNLOKE
46368  6c702ea2794511ecba330242ac1c0002  ...  H41R3IP8D99ENG4L2ZVDGAA5X9MNLOKE
46369  6c705846794511ecba330242ac1c0002  ...  H41R3IP8D99ENG4L2ZVDGAA5X9MNLOKE

[46370 rows x 3 columns]

In [ ]:
print(len(Df_merge["id"].unique()))

46370

In [ ]:
dim_ship

                           shipping_id  ...     status
0     H8WJR6RG2P6U17RZJ9T4X82Y9Z9SEQ8F  ...    ARRIVED
1     E7KCQZ52O7KRE4URJGJLDFCO9A9A6LNM  ...    ARRIVED
2     CRK4PX5CBANN0HVHO89EWKH9TYV4PYT2  ...    ARRIVED
3     WMCFYOID6AXF7HZV82B0EKZSYBI2W6PI  ...    ARRIVED
4     JWXEO0LWJ5DT16HL0U16VPNKTYRUWOB5  ...    ARRIVED
...                                ...  ...        ...
7089  769FPI0LPVN5B8LB6P1K242SJS3BM7HX  ...  Intransit
7090  XQ1EZL9ERVJ68C5FFLGV2J5VSHDXGAI3  ...  Intransit
7091  0RWM33I7T46WN4FTXHG0MUKTE55S1R8H  ...  Intransit
7092  1TEEZVIQ5FH48HSV64PTDB9462LS94FT  ...  Intransit
7093  H41R3IP8D99ENG4L2ZVDGAA5X9MNLOKE  ...  Intransit

[7094 rows x 17 columns]

In [ ]:
dim_ship.to_csv("/content/drive/MyDrive/Data Warehouse Parani/dim_ship_new.csv",header=False,index=False)