In [1]:
import pandas as pd

In [2]:
import mysql.connector

In [3]:
#Set database connection
dataBase = mysql.connector.connect(host ="localhost",user ="root",passwd ="",db = "automation")

print(dataBase)

<mysql.connector.connection.MySQLConnection object at 0x00000179DCDBA530>

In [ ]:
print("Database Connected")

In [4]:
cursor = dataBase.cursor() #set cursor

In [5]:
df = pd.read_csv("BTC_MONTHLY.csv") #data

In [10]:
#Create table query
DataRecord = """CREATE TABLE data (
                   Date  VARCHAR(25),
                   Open VARCHAR(25),
                   High VARCHAR(25),
                   Low VARCHAR(25),
                   Close VARCHAR(25),
                   Adj_Close VARCHAR(25),
                   Volume VARCHAR(25)
                   )"""

In [11]:
print("Checking Existing table")
cursor.execute("""DROP TABLE IF EXISTS data""") #check table and drop if table exists

In [12]:
print('Table Created')
cursor.execute(DataRecord)#Execute Creat Table Query

In [13]:
#Insert Value Query
insert_query = """INSERT INTO data (Date, Open, High, Low, Close, Adj_Close, Volume) VALUES (%s,%s,%s,%s,%s,%s,%s)"""

In [14]:
#Iteration Data
print("Inserting data")
for i,row in df.iterrows():
    date = row['Date']
    Open = str(row['Open'])
    high = str(row['High'])
    low = str(row['Low'])
    close = str(row['Close'])
    adj = str(row['Adj Close'])
    vol = str(row['Volume'])
    values = (date,Open,high,low,close,adj,vol)
    cursor.execute(insert_query,values)#execute insert value query
cursor.close()

# Commit the transaction
dataBase.commit()

# Close the database connection
dataBase.close()
print("Data already inserted")